<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update user</title>
</head>
<body>
<h1>Update user</h1>
<form th:action="@{/admin/users/{id}(id=${user.id})}" th:object="${user}" th:method="PUT">

    <label>Имя </label>
    <input type="text"
           name="name"
           th:field="*{name}"
           placeholder="введите Имя"/>

    <label>Фамилия</label>
    <input
            type="text"
            name="surname"
            th:field="*{surname}"
            placeholder="введите Фамилию"/>
    <label>адрес</label>
    <input
            type="text"
            name="address"
            th:field="*{address}"
            placeholder="введите адрес"/>
    <label>телефон</label>
    <input
            type="number"
            name="phoneNumber"
            th:field="*{phoneNumber}"
            placeholder="введите номер"/>
    <label>email</label>
    <input
            type="text"
            name="email"
            th:field="*{username}"
            placeholder="введите email"/>
    <label>password</label>
    <input
            type="password"
            name="password"
            th:field="*{password}"
            placeholder="введите пароль"/>
    <label>роль</label>
    <input
            type="text"
            name="roles"
            th:field="*{roles}"
            placeholder="роль"/>

    <button type="submit">
        Submit
    </button>


</form>

</body>
</html>