<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>все пользователи</title>
</head>
<body>
<h1>все пользователи</h1>
<a th:href="@{/admin/users/new}"><input type="submit" value="добавить пользователя"/></a>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>адрес</th>
        <th>телефон</th>
        <th>email</th>
        <th>пароль</th>
        <th>роли</th>
        <th>действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>

        <td>
        <td>
            <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"><input type="submit" value="изменить"/></a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId})}">
                <input type="submit" value="удалить"/>
            </form>
        </td>
        </td>
    </tr>
    </tbody>

</table>
<a th:href="@{/logout}"><input type="submit" value="покинуть эту скорбную страничку"/></a>
</body>
</html>
